
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_category</title>
<!--    {% load bootstrap5 %}-->
<!--    {% bootstrap_css %}-->
<!--    {% bootstrap_javascript %}-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->

    <!-- Favicon -->
<!--  <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.png' %}">-->

  <!-- all css here -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bundle.css' %}">
    <link rel="stylesheet" href="{% static '/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">

    <script src="{% static '/js/vendor/modernizr-2.8.3.min.js' %}"></script>

</head>
<body>
    <div class="my_menu">
        <ul>
            <li>
                <a href="/" >
                    index
                </a>

            </li>
            <li>
                <a href="/list-products">
                    list_products
                </a>
            </li>
            <li>
                <a href="/add-category" class="active">
                    add_category
                </a>
            </li>
        </ul>
    </div>

    <div class="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                   <div class="contact_message content">
                        <h3>contact us</h3>
                         <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human. qui sequitur mutationem consuetudium lectorum. Mirum est notare quam</p>
                        <ul>
                            <li><i class="fa fa-fax"></i>  Address : No 40 Baria Sreet 133/2 NewYork City</li>
                            <li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
                            <li><i class="fa fa-envelope-o"></i> 0(1234) 567 890</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   <div class="contact_message form">
                        <h3>Tell us your project</h3>
                        <form id="contact-form" method="POST" action="https://whizthemes.com/nazmul/php/mail.php">
                            <p>
                               <label> Your Name (required)</label>
                                <input name="name" placeholder="Name *" type="text">
                            </p>
                            <p>
                               <label>  Your Email (required)</label>
                                <input name="email" placeholder="Email *" type="email">
                            </p>
                            <p>
                               <label>  Subject</label>
                                <input name="subject" placeholder="Subject *" type="text">
                            </p>
                            <div class="contact_textarea">
                                <label>  Your Message</label>
                                <textarea placeholder="Message *" name="message" class="form-control2"></textarea>
                            </div>
                            <button type="submit"> Send</button>
                            <p class="form-messege"></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    <form action="">-->

<!--        <input type="text">-->

<!--        <textarea name='' ></textarea>-->

<!--        <button type='submit'>Добавить категорию</button>-->

<!--    </form>-->



</body>
</html>