
{% load static %}


<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="my_menu">
        <ul>
            <li>
                <a href="" class="active">
                    index
                </a>

            </li>
            <li>
                <a href="list-products">
                    list_products
                </a>
            </li>
            <li>
                <a href="add-category">
                    add_category
                </a>
            </li>
        </ul>
    </div>

</body>
</html>