

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list_products/</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="my_menu">
        <ul>
            <li>
                <a href="/" >
                    index
                </a>

            </li>
            <li>
                <a href="/list-products" class="active">
                    list_products
                </a>
            </li>
            <li>
                <a href="/add-category">
                    add_category
                </a>
            </li>
        </ul>
    </div>

</body>
</html>